{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">

			Offres d'emplois publiées : {{ nbJobOffer }}<br>
			Offres d'emplois toujours actives : {{ nbActiveJobOffersBySociety }}<br>
			Moyenne des réponses par offre d'emploi : {{ nbAvgJobOffer }} 

		</div>

	{% endblock %}