{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}	

	{% block content %}

		<div class="container">

			<img class="img-responsive img-full" src="{{ asset('img/error-404.jpg') }}" alt="Page inexistante">
	
			<p>OOUuupsss !!! La page que vous demandez n'existe pas !!<br>
			Aucune importance, vous pouvez revenir à la page d'accueil en cliquant <a href="{{ path('front_office_homepage_homepage') }}"><button>ici !</button></a></p>

		</div>

	{% endblock %}



