{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#9494FF;padding:30px;">Votre curriculum vitae :</h3>

				{{ form(formCV) }}

		</div>


	{% endblock %}