{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3>Enregistrez une lettre de motivation :</h3>

				{{ form(formLm) }}

		</div>


	{% endblock %}