{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			{% for cv in app.user.cuvitae %}
				{{ cv.title }}<br>
			{% endfor %}

		</div>

	{% endblock %}