{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}


		<div class="container" style="margin:auto;">
			<div class="well col-lg-12">

				<h3 style="text-align:center;">Votre compte est créé !</h3>				

				<p>Créez votre espace personnel pour sélectionner des offres d'emplois, enregistrer CV et lettres de motivation : <a href="{{ path('front_office_emploi_candidat_new')}}">Je créé mon espace personnel</a></p>

			</div>
		</div>


	{% endblock %}