{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}


		<div class="container" style="margin-left:75px">
			<div class="well col-lg-6">

				<h3 style="text-align:center;">Créer votre compte :</h3>

				<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		    		{{ form_widget(form) }}<br>
				    <div>
				        <input type="submit" value="{{ 'Enregistrez-vous'|trans }}" style="margin-left:220px;"/>
				    </div>
				</form>

			</div>
		</div>


	{% endblock %}