{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white;">

			<h2>Inscription à cette formation :</h2>

				{{ form(formFormationSubscriber) }}
		</div>
		
	{% endblock %}