{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

			{{ form(formJobOffer) }}

		</div>

	{% endblock %}