{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

			<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#99FFCC;padding:30px;">Poster une offre d'emploi:</h3>

				{{ form(formJobOffer) }}

		</div>

	{% endblock %}