{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		
		<div style="width:700px;text-align:justify;margin:auto;border-radius:14px;background-color:white;color:black;margin-top:25px;margin-bottom:25px;padding:35px;">

			<h2 style="text-align:center;margin:auto;border-radius:14px;background-color:white;color:black;margin-bottom:30px;">Conditions Générales d'utilisation</h2>

			Nunc tincidunt velit non mauris scelerisque, in consequat magna semper. Nunc arcu dui, ullamcorper ac justo eget, mattis vestibulum sapien. Aenean lectus erat, hendrerit sit amet nisl ut, congue pharetra sapien. Aliquam quam ex, eleifend ut eros vel, pellentesque porta erat. Maecenas imperdiet id nisl nec ultricies. Mauris rhoncus rhoncus sapien, in fringilla arcu sodales eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin aliquet et dui nec cursus. Nulla et lacus quis velit auctor tristique vel in tortor. Suspendisse potenti. Proin finibus odio leo, ut lobortis nulla semper non. Pellentesque non convallis est, mollis malesuada enim. Cras tincidunt ipsum sed massa sagittis tristique.<br><br>

			Fusce maximus bibendum volutpat. Pellentesque ligula diam, ullamcorper id quam ut, efficitur pulvinar tortor. Praesent viverra ultrices blandit. Donec vel vehicula magna. Morbi in iaculis tellus, vel bibendum leo. Suspendisse sagittis dui eros, ut hendrerit orci consectetur ut. Donec varius tincidunt leo ac consectetur. Aenean commodo libero sit amet fringilla condimentum. Curabitur ultrices eros orci, ac sollicitudin augue tincidunt eu. Aliquam massa nisi, molestie et facilisis at, rutrum nec ipsum. Integer fringilla hendrerit risus et iaculis. Nullam mollis bibendum tortor porttitor venenatis. Duis condimentum nunc eu ligula lobortis sagittis. Suspendisse pharetra ut felis non cursus. <br><br>

			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eu dapibus elit, vitae rutrum elit. Vivamus a lorem nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent fringilla efficitur ante, sed consequat magna hendrerit et. In quis pellentesque ligula. Morbi ipsum justo, auctor ut finibus eget, convallis non mauris. Proin lobortis ligula egestas lorem porttitor, sed fringilla nisl euismod. Suspendisse potenti. Sed diam urna, elementum sit amet iaculis vel, congue ac sapien. Nunc rhoncus risus sapien. Pellentesque lobortis neque a consequat sagittis. Mauris non malesuada ex. Ut finibus turpis non sapien semper, vel vestibulum elit volutpat.  
			
		</div>


	{% endblock %}