{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

			<div class=container style="background-color:white">
				<h3>Contactez-nous :</h3>
					{{ form(form) }}
			</div>
 
	{% endblock %}