{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white">

			<h2> Formations groupées par type : </h2>

			    {% for form in  getFormationType %}
			        {{ form.formationType }}<br>
			            {{ form.formationName }}
			    {% endfor %}
		    
		</div>
		    
	{% endblock %}