{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		 {% for forum in forums %}
		 <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{forum.forumName}}</strong>
                    </h2>
                    <hr>
                    <p>{{ forum.forumDate | date('d-m-Y')}}</p><br>
                    <p>{{ forum.forumDescription}}</p>
                    <a href="{{ path('front_office_forum_oneForum',{id:forum.id}) }}"><button class="btn btn-primary">Détails :</button></a><br><br>
                    
                </div>
            </div>
        </div>
    	{% endfor %}

	{% endblock %}