{% extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}

		<h2> Liste des secteurs d'activité : </h2>

            {% for message in app.session.flashbag.get('job') %}
                {{ message }}
            {% endfor %}

    		{% for job in listJobSector %}
    		<div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">{{ job.nameSector }}
                            <strong></strong>
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>
        	{% endfor %}

	{% endblock %}