{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="margin-left:75px">
			<div class="well col-lg-12">

				<h3 style="text-align:center;">Générer un nouveau mot de passe</h3>

				{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

			</div>
		</div>

	{% endblock %}