{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<h2>Ajout d'une catégorie:</h2>

			{% for succes in app.session.flashbag.get('succes') %}
				{{ succes }}
			{% endfor %}
		
			{{ form(form) }}

	{% endblock %}