{% extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}

		<h2> Liste des Forums par type : </h2>

            {% for forum in getForumType %}    		

                {{ forum.forumName }} <br><br>
                {{ forum.forumType }}               

            {% endfor %}

	{% endblock %}