{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white">

			<h2 style="text-align:center;">Statistiques Forums</h2>

			<div class="col-lg-4">

					<h3> Forums groupés par type : </h3>

				    {% for form in  getForumType %}
				        {{ form.forumType }}<br>
				            {{ form.forumName }}
				    {% endfor %}
		    </div>

		    <div class="col-lg-4">

					<h3>Forums triés par nombre d'inscrits :</h3>

					{% for forum in nbInscritsByForum %}
						{{ forum.forumName }} compte {{ forum.nb }} {% if forum.nb > 1 %} inscrits. {% else %} inscrit.{% endif %}
					{% endfor %}

			</div>

					
		</div>

	{% endblock %}
		    
